<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> <%= environment %></h1>
    <p>Welcome to <%= title %></p>

  </br>
  </br>

    <p>Online documenation not available, please contact the developers for details.</p>
  </br>

    <p>For consumer side service visit our <a href="#">home page</a></p>
  </body>
</html>
